.landing-bg-image {
  background-image: url('./assets/images/esport.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dark-radial-gradient {
  background: #000000bd;
  background: -webkit-radial-gradient(center, #000000bd, #000000d6);
  background: -moz-radial-gradient(center, #000000bd, #000000d6);
  background: radial-gradient(ellipse at center, #000000bd, #000000d6);
}
